* {
    margin: 0;
    padding: 0;
    cursor: default;
}

img {
    z-index: 2;
}

body {
    overflow-x: hidden;
    background-color: #00001b;
}

#star-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 0;
}

.star {
    position: absolute;
    background: rgb(212, 211, 251);
    border-radius: 50%;
    opacity: 0.8;
    animation: twinkle 2s infinite ease-in-out;
}


nav {
    background-color: #00001b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    color: #febc21;
    font-weight: 700;
    top: 0;
    font-family: "Crimson Pro", serif;
}

ul {
    margin-right: 2rem;
    list-style: none;
    display: flex;
    gap: 25px;
    font-size: 1.5rem;
}

ul li a{
    padding: 10px;
    transition: transform 0.5s, background-color 0.5s, color 0.5s ease-in-out;
    border-radius: 60px;
}

ul li a{
    text-decoration: none;
    color: #febc21;
}

ul li:hover a {
    transition: all 0.5s ease-in-out;
    transform: scale(1.05);
    background-color: #febc21;
    color: #00001b;
}

.logo img {
    width: 10vw;
}

span {
    color: #febc21;
}

.hero {
    background-color: #00001b;
    height: 90vh;
    text-align: center;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 5px 25px;
}

.htxt {
    width: 44vw;
    color: rgb(212, 211, 251);
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 2s ease, transform 2s ease-in-out;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    font-family: "Cinzel", serif;
}

.htxt.visible {
    opacity: 1;
    transform: translateY(0);
}

.container {
    position: absolute;
    overflow: hidden;
    left: 50vw;
    width: 47vw;
    height: 70vh;
    border-radius: 25px;
}

.photo {
    display: flex;
    width: 100%;
    border-radius: 25px;
    animation: slide 15s infinite;
}

.photo img {
    width: 100%;
    border-radius: 25px;
}

.Houses {
    padding: 20px;
    background-color: #00001b;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    color: rgb(212, 211, 251);
}

.Houses .pic {
    display: flex;
    gap: 20px;
}

.pic img {
    width: 12rem;
}

.pic img:hover {
    transform: scale(1.05);
    transition: all 0.6s ease-in-out;
}

.Characters {
    background-color: #00001b;
    height: 60vh;
    padding: 20px;
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(212, 211, 251);
}

.charpic,
.charpic img {
    position: relative;
    z-index: 2;
}


.charpic img {
    width: 16rem;
    height: 21rem;
    border-radius: 20px;
    margin-right: 15px;
}

.charpic img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #3f3a39;
    transition: all 0.7s ease-in-out;
}

.char {
    position: relative;
    display: inline-block;
}

.char .name {
    position: absolute;
    bottom: 0;
    background-color: #00001b;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    font-weight: 700;
    font-size: 1.7rem;
    margin-bottom: 10px;
    box-shadow: 0 0 8px rgb(39, 43, 49);
    z-index: 5;
}

.char:hover .name {
    opacity: 1;
    pointer-events: auto;
}


.Spells {
    padding: 25px;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00001b;
    height: 65vh;
    color: rgb(212, 211, 251);
    gap: 50px;
}

.spell {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 40px;
    padding: 10px;
    justify-items: center;
    align-items: center;
}

.spell-item {
    padding: 15px;
    color: rgb(1, 0, 46);
    background-color: rgb(212, 211, 251);
    border-radius: 40px;
    font-size: 1.7rem;
    font-weight: 600;
    font-family: "Crimson Pro", serif;
}

.spell-item:hover {
    box-shadow: 0 0 8px 1px rgba(187, 230, 255, 0.8),
        0 0 20px 2px rgba(135, 178, 249, 0.6),
        0 0 30px 4px rgba(111, 200, 255, 0.7);
    transition: box-shadow 0.4s ease-in-out;
    background-color: rgb(1, 0, 46);
    color: rgb(212, 211, 251);
    transform: scale(1.05);
    transition: all 1s ease;
}

.Books {
    color: rgb(212, 211, 251);
    padding: 20px;
    height: 60vh;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.footer {
    height: 25vh;
    color: rgb(212, 211, 251);
    text-align: center;
}

.social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border: 0.2rem solid rgb(212, 211, 251);
    font-size: 1.8rem;
    border-radius: 50%;
    margin: 2rem 1.2rem 2rem 0;
    color: rgb(212, 211, 251);
    text-decoration: none;
    transition: background 0.7s, color 0.7s, transform 0.7s ease-in-out;
}

.social a:hover {
    color: #00001b;
    background-color: rgb(212, 211, 251);
    box-shadow: 0 0 10px rgb(212, 211, 251);
    transform: scale(1.05);
}

.text {
    width: 35vw;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-family: "Crimson Pro", serif;
}

h2 {
    font-size: 3rem;
    font-family: "Cinzel", serif;
    color: #febc21;
}

.text p {
    font-size: 1.7rem;
    font-weight: 100;
}

.text a {
    text-align: center;
    padding: 8px 15px;
    color: #00001b;
    text-decoration: none;
    background-color: rgb(212, 211, 251);
    font-size: 1.4rem;
    width: fit-content;
    border: 0.1rem solid rgb(212, 211, 251);
    border-radius: 30px;
    margin-top: 1.5rem;
    font-weight: 500;
    font-family: "Crimson Pro", serif;
}

.text a:hover {
    color: rgb(212, 211, 251);
    background-color: #00001b;
    transform: scale(1.05);
    transition: all 0.4s ease-in-out;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    8.2% {
        transform: translateX(0);
    }

    16.4% {
        transform: translateX(-100%);
    }

    24.6% {
        transform: translateX(-100%);
    }

    32.8% {
        transform: translateX(-200%);
    }

    41% {
        transform: translateX(-200%);
    }

    49.2% {
        transform: translateX(-300%);
    }

    57.4% {
        transform: translateX(-300%);
    }

    65.6% {
        transform: translateX(-400%);
    }

    73.8% {
        transform: translateX(-400%);
    }

    82% {
        transform: translateX(-500%);
    }

    90.2% {
        transform: translateX(-500%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes twinkle {

    0%,
    100% {
        opacity: 0.8;
    }

    50% {
        opacity: 0.3;
    }
}

@keyframes movestars {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(100vh);
    }
}